@model ShoppingCartVM

<!DOCTYPE html>
<html>
<head>
	<title>Shopping Cart</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" ">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="~/ShoppingCart/style.css">
</head>
<body>
	<main class="page">
		<section class="shopping-cart dark">
			<div class="container">
				<div class="block-heading">
				<br /><br />
				</div>
				<div class="content">
					<div class="row">
						<div class="col-md-12 col-lg-8">
							<div class="items">
								@foreach(var item in Model.CartsList)
								{
									<div class="product">
										<div class="row">
											<div class="col-md-3 mb-3">
												<img class="img-fluid mx-auto d-block image" src="~/@item.Product.Img">
											</div>
											<div class="col-md-8">
												<div class="info">
													<div class="row">
														<div class="col-md-5 product-name">
															<div class="product-name">
																<a href="#">@item.Product.Name</a>
																<div class="product-info">
																	<div>Description: <span class="value">@item.Product.Description</span></div>
																</div>
															</div>
														</div>
														<div class="col-md-4 quantity">
															<label for="quantity">Quantity:</label>
															<div class="btn-group" role="group">
																<a class="btn btn-primary" asp-action="Plus" asp-route-cartid="@item.Id">+</a>
																<span style="margin:5px;">@item.count</span>
																<a class="btn btn-primary" asp-action="Minus" asp-route-cartid="@item.Id">-</a>
															</div>
														</div>
														<div class="col-md-3 price">
															<div class="product-price">
																<br />
																<span>$@item.Product.Price</span>
															</div>
														</div>


														<div class="col-md-1 price">
															<div>
																<br />
																<a asp-action="Remove" asp-route-cartid="@item.Id" class="btn btn-danger">X</a>
															</div>
														</div>
														<br />
														<br />
													</div>
												</div>
											</div>
										</div>
									</div>
								}

							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="summary">
								<h3>Summary</h3>
								<br />
								<br />

								<div class="summary-item"><span class="text">Total </span><span class="price">$@Model.total.ToString()</span></div>
								<br />
								<br />

								<a class="btn btn-primary btn-lg btn-block" asp-action="Summary" asp-controller="Cart">Summary</a>
								<br />
								<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</body>
</html>